* {
    color: #ffffff;
}

.center-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;

}

body {
    background-color: #000000;
    background-image: url(gif/nevermore_banner.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}