@font-face {
    font-family: 'My Font';
    src: url(font/JetBrainsMonoNerdFontMono-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'My Font', sans-serif;
    color: #ffffff;
}

img, video, iframe {
    max-width: 100%;
    height: auto;
}

.cassette {
    transition-property: transform;
    transition-duration: 0.50s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.cassette:hover {
    transform: rotate(360deg);
}

button {
    background-color: #000000;
    border-style: solid;
    border-width: 2.5px;
    border-color: green;
    border-radius: 25%;
    padding: 12px 18px;
    font-size: 1rem;

    transition-property: background-color;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
  }

button:hover {
    cursor: pointer;
    background-color: green;
}

.center-block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
}

.nav {
    flex-wrap: wrap;
    gap: 12px;
}

.profile-img {
    border-style: solid;
    border-radius: 20px;
    border-color: green;
    border-width: 5px;
}

body {
    background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

hr {
    border: none;
    border-top: 2.5px solid green;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.pic {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
}