@font-face {
    font-family: 'My Font';
    src: url(font/Isometra-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'My Font';
    color: #ffffff;
}

body {
    font-family: 'My Font';
}

button {
    background-color: #000000;
    border-radius: 25%;
    padding: 8px;
}

.center-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

body {
    background-color: #000000;
    background-image: url(gif/nevermore_banner.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}